$bg-color-beige: #F0EEDD;
$bg-color-light: #FFFFFF;
$bg-color-medium-beige: #F5F1E9;
$bg-color-light-beige: #FBF6EA;
$bg-color-medium-swamp: #6C674D;
$bg-color-light-swamp: #807C62;

$text-color-burgundy: #670A18;
$text-color-main: #35312E;
$text-color-description: #6E635A;
$text-color-subtitle: #4F463F;
$text-color-light-title: #F5F1E9;
$text-color-light: rgba(245, 241, 233, 0.6);

$color-picker-beige: #E09D81;
$color-picker-sky: #748EA1;
$color-picker-brown: #B76D47;
$color-picker-swamp: #7D836E;
$color-picker-red: #C33636;
$color-picker-light-grey: #CDC7B3;
$color-picker-dark-grey: #595752;
$color-picker-purple: #D3C2CA;

$content-width: 1340px;