.company-descriprion {
    padding: 121.2px 120px 112.8px 135px;
}

.descriprion-content {
    display: flex;
    justify-content: space-between;
    gap: 135px;
}

.descriprion-content__title {
    @include font($size: 4.1rem, $weight: 700, $height: 4.6rem);
    width: 400px;
    margin: 0%;
    text-align: center;
    letter-spacing: 1.25px;
    color: $text-color-main;
}

.descriprion-content__text {
    @include font($size: 1.6rem, $weight: 400, $height: 2.6rem);
    margin: 0%;
    color: $text-color-subtitle;
}