.partners {
    padding: 45px 0;
    background: $bg-color-medium-beige;
}

.partners__title {
    @include font($size: 2.4rem, $weight: 700, $height: 2.4rem);
    text-align: center;
    text-transform: uppercase;
    color: $text-color-main;
    margin: 0 0 39.59px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    padding: 0 179px;
}